body {
    margin: 0;
    text-align: center;
    background-image: url('../img/whitebg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

span {
    padding: 4px;
}

button {
    background: rgb(30, 182, 16);
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    padding: 5px 8px;
}

button:hover{
    background: rgb(62, 82, 180);
}